@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var pt in ViewBag.productTypes)
    {
        <h5 class="text-center">@pt.ProductTypeName</h5>
        <div class="item-grid row d-flex justify-content-between">
            @foreach (var item in pt.Products)
            {
                <a class="text-decoration-none col-md-3 text-center card mb-2" style="color: black" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                    <img class="img-fluid" src="@item.ImgPath" alt="product image" style="width: 250px; height: 250px; padding: 1rem" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">$@item.Price</p>
                    </div>
                </a>
            }
        </div>
        <a class="btn" asp-controller="Product" asp-action="ViewByCategory" asp-route-cate="@pt.ProductTypeId">Show all @pt.ProductTypeName</a>
    }
</div>

<style>
    .btn {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 1vh;
        padding: 1vh;
        border-radius: 0;
        width: 20%;
        margin-bottom: 4vh;
    }

        .btn:focus {
            box-shadow: none;
            outline: none;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
            -webkit-user-select: none;
            transition: none;
        }

        .btn:hover {
            color: white;
        }
</style>
